
body{background-color:rgb(47, 255, 0);
}
h1{color: black;
    font-family:Verdana, Tahoma, sans-serif;
    border-radius: 4px;
background-color:rgb(0, 221, 255)
}

p{color: rgb(0, 0, 0);font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{background-color:rgb(0, 221, 255) ; 
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

a{color: rgba(255, 0, 225, 0.727);
    text-decoration:none
}

a:hover{color: rgb(255, 102, 0);
    text-decoration: underline;
    

}
.container{display:flex;
 flex-direction:row;
 justify-content:space-between;
 height: 650px;
 background:#ddff00;
 padding: 20px;
 border-radius: 6px;




}


.item{color: rgb(0, 0, 0);
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



